@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary color */
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);

  /* Neutral color */
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url(./Assets/images/bg-header-mobile.png) no-repeat;
  background-size: 100%;
  font-size: 1.6rem;
  text-align: center;
}

.main{
  max-width: 375px;
  width: 90%;
  margin: 0 auto;
}

/* typo */
h1,
h2,
h3 {
  color: var(--DarkGrayishBlue);
  padding: 0 15px;
  margin-bottom: 10px;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.5rem;
  padding: 0 1em;
}

h3{
  font-size: 2rem;
}

p {
  color: var(--GrayishBlue);
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.4px;
  padding: 0 15px;
  margin-bottom: 40px;
}

.header__img {
  margin-top: 3em;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 3.5em;
}

li{
  list-style: none;
}

.footer a{
  text-decoration: none;
  color: var(--DarkGrayishBlue);
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1.5em;
}

/******* override *******/
.resize {
  width: fit-content;
  margin: 0 auto 2em;
}

.agents .resize {
  margin-bottom: 5em;
}

.footer img{
  width: 15%;
  margin-bottom: 4em;
}

/* buttons */
.buttons {
  width: 90%;
  margin: 0 auto 4em;
}

.buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  padding: 1em 0;
  letter-spacing: 1px;
  border-radius: 2em;
  margin-bottom: 1.5em;
}

.buttons a:first-child {
  background-color: var(--StrongCyan);
}

.buttons a:last-child {
  background-color: var(--LightBlue);
}

/* header section */
.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* others margin */
.access,
.supercharge,
.agents,
.action {
  margin-bottom: 7em;
}

/* footer */
.footer{
  background-color: rgb(243, 242, 248);
  padding: 4em 0 1em;
}

.content{
  margin-bottom: 4em;
}

.social a{
  display: inline-block;
  width: 15%;
}

.social img{
  width: auto;
  margin-bottom: 0;
}

@media screen and (min-width:1024px) {
  html{
    font-size: 80%;
  }

  body{
    background: url(./Assets/images/bg-header-desktop.png) no-repeat;
  }

  .main{
    max-width: 1440px;
    width: 90%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .buttons a{
    width: 25%;
  }

  .snippets__body{
    display: flex;
    gap: 5%;
  }

  .snippets__body__text{
    text-align: left;
  }

  .supercharge_items, .agents__items{
    display: flex;
    align-items: baseline;
  }

  .agents__items img{
    height: 100%;
  }

  /* footer */
  .footer-container{
    display: flex;
    
  }

  .footer-img{
    width: 25%;
    flex: 1;
  }

  .footer img{
    margin-bottom: 0;
  }

  .content{
    margin-bottom: 0;
    flex: 2;
  }

  .content ul{
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
  }

  .content li:nth-of-type(1){order: 1;}
  .content li:nth-of-type(2){order: 4;}
  .content li:nth-of-type(3){order: 2;}
  .content li:nth-of-type(4){order: 5;}
  .content li:nth-of-type(5){order: 3;}

  .social{
    flex: 1;
  }

  .desktop__text, .access, .action__head{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}